* {
  margin: 0;
  padding: 0;
}
.top_padd {
  padding-top: 2rem !important;
}
/* font family inter */
@font-face {
  font-family: "inter-bold";
  src: url(../font/Inter-Bold.otf);
}
@font-face {
  font-family: "inter-semiBold";
  src: url(../font/Inter-SemiBold.otf);
}
@font-face {
  font-family: "inter-regular";
  src: url(../font/Inter-Regular.otf);
}
@font-face {
  font-family: "inter-medium";
  src: url(../font/Inter-Medium.otf);
}
@font-face {
  font-family: "inter-light";
  src: url(../font/Inter-Light.ttf);
}

:root {
  --head-color: #02150f;
  --primary-color: #32b744 !important;
}

/* ____ */

.light_text_sm {
  font-family: "inter-light";
  font-size: 0.72rem;
}
.light_text_lg {
  font-family: " inter-light";
  font-size: 1rem;
}
.gray_text_md {
  font-family: "inter-light";
  font-size: 0.8rem;
}
.black_text_md_bold {
  color: rgb(19, 19, 19);
  font-family: "inter-bold";
  font-size: 0.7rem;
}
.black_text_lg {
  color: rgb(19, 19, 19);
  font-family: inter-regular;
  font-size: 0.95rem;
}
.black_text_md {
  color: rgb(19, 19, 19);
  font-family: inter-regular;
  font-size: 0.77rem;
}
.black_text_sm {
  color: rgb(19, 19, 19);
  font-family: inter-regular;
  font-size: 0.65rem;
}
.light_border_top {
  border-top: 1px solid rgb(231, 231, 231);
}
/* ____line height____ */
.height-10 {
  line-height: 10px;
}
.height-17 {
  line-height: 15px;
}
.height-20 {
  line-height: 20px;
}
.height-30 {
  line-height: 30px;
}
/* radius */
.inter-bold {
  font-family: "inter-bold";
}
.inter-semi {
  font-family: "inter-semiBold";
}
.inter {
  font-family: "inter-regular";
}
.inter-medium {
  font-family: "inter-medium";
}
.inter-light {
  font-family: "inter-light";
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */
/* huraira css */
.logo_icon {
  width: 31px;
  height: 31px;
  object-fit: contain;
}

.logo_text {
  width: 132px;
}

.search_div {
  display: flex;
  align-items: center;
  background-color: #f5f4f7;
  border-radius: 20px;
  padding: 8px 20px;
  width: 30%;
}
.search_div input {
  padding: 0px !important;
  background-color: transparent !important;
}
.search_div input:focus {
  color: #32b744;
}
.search_div input::placeholder {
  color: #979f9d;
}
.search_icon {
  cursor: pointer;
  font-size: 22px;
  color: #000000;
}
.blank_div {
  width: 1px;
  height: 25px;
  background-color: #c8ded3;
}

.nav_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
}
.nav_item a {
  background-color: transparent !important;
  padding: 10px 22px;
  width: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid transparent;
}

.nav_item a.active {
  background-color: transparent !important;
  padding: 10px 22px;
  width: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid rgba(0, 104, 53, 0.08);
  box-shadow: 0px 1px 8px 0px rgba(20, 20, 20, 0.08),
    0px 0px 1px 0px rgba(20, 20, 20, 0.52);
}
/* dark css nav item  */
.item_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
}

.item_nav a {
  background-color: transparent !important;
  padding: 10px 22px;
  width: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid transparent;
}
.item_nav a.active {
  background-color: #2d3d38 !important;
  padding: 10px 22px;
  width: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid rgba(0, 104, 53, 0.08);
  box-shadow: 0px 1px 8px 0px rgba(20, 20, 20, 0.08),
    0px 0px 1px 0px rgba(20, 20, 20, 0.52);
}
/* /////////// */
.nav_bar {
  padding: 0.5rem 0.5rem !important;
  position: sticky !important;
  z-index: 9999 !important;
  width: 100% !important;
  top: 0px;
}
.icon_size_tab {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.main_noti_div {
  position: relative;
  display: flex;
}
.noti_div {
  width: 6px;
  height: 6px;
  background-color: #fe2c55;
  position: absolute;
  right: -7px;
  top: -3px;
  border-radius: 50%;
}
.icon_div {
  background-color: #f6f3f7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
}
.profile_img {
  width: 45px;
  height: 45px;
}
.status_icon {
  position: absolute;
  bottom: 0;
  right: -7px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid white;
}
.main_drop_na .dropdown-toggle {
  display: flex !important;
  align-items: center !important;
}
.main_drop_na .dropdown-menu {
  background-color: #eef5f2 !important;
  margin-top: 18px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  border: 0px;
}
.main_drop_na .dropdown-menu a {
  color: #252525 !important;
}
.main_drop_na .dropdown-menu a:focus {
  background-color: #eef5f2 !important;
  color: #252525 !important;
}
.dropdown-toggle::after {
  background-image: url(../icons/drop_icon.png);
  background-size: 100% 100%;
  border: 0px !important;
  background-repeat: no-repeat;
  width: 13px;
  height: 8px;
}
.nav_bar_sec {
  border-bottom: 1px solid rgba(50, 183, 68, 0.24);
  background-color: transparent !important;
  padding: 0.5rem 0.5rem !important;
  position: sticky !important;
  top: 0;
}
/* ////////////////////////////////////// startup css start ///////////////////////////////////////////////////// */
.help_text {
  color: #908c95;
  font-family: inter-regular;
  font-size: 22px;
}
.main_startUp {
  width: 16rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 91vh;
}
.startUpHead {
  color: #ffffff;
  font-family: "inter-bold";
  font-size: 21px;
}
.startUpCont {
  color: #ffffff;
  font-family: inter-light;
  font-size: 13px;
}
.login_btn_div {
  background-color: #ffffff;
  border-radius: 20px;
  text-align: center;
  width: 100%;
  height: 2.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: none;
}
.login_btn_div:focus {
  opacity: 0.7;
}

.btn_login_text {
  font-family: inter-medium;
  color: #02150f;
  font-size: 14px;
}
.social_iconStart {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.login_text {
  color: #c8ded3;
  font-family: inter-regular;
  font-size: 13px;
}

/* login css */

.login_main {
  background-color: #ffffff;
  box-shadow: 0px 2px 32px 0px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  width: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.f_head {
  color: var(--head-color);
  font-family: "inter-bold";
  font-size: 20px;
}
.sb_head {
  font-family: "inter-regular";
  color: #6c7774;
  font-size: 13px;
  text-align: center;
}
.pass_img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  cursor: pointer;
}
.for_text {
  font-family: "inter-bold";
  color: var(--primary-color);
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
.btn-primary {
  border-radius: 20px !important;
  background-color: #006835 !important;
  color: white;
  width: 100%;
  font-family: inter-regular;
  border: none !important;
  padding: 8px;
}
.border_btn_l {
  border: 1.04px solid var(--grey-300, #dbd8db);
}
.main_div_login {
  height: 91vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_text {
  color: #32b744;
  font-family: inter-medium;
}
/* age varification css start //////////////////////////////////////////////// */
.child_varif {
  width: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.main_verifi_div {
  height: 91vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.age_inp {
  background: #02150f;
  border: none !important;
  color: #32b744;
}
.age_inp:focus {
  background: #02150f;
  color: #32b744;
}
.age_inp::placeholder {
  color: #2d3d38;
  text-align: center;
}
.vari_conf {
  color: #ffffff;
  font-family: inter-regular;
  font-size: 12px;
}
.dec_btn {
  background-color: #02150f;
  color: #ffffff;
  border-radius: 20px !important;
  width: 100%;
  font-family: inter-regular;
  border: none !important;
  padding: 6px 12px;
}

.btn_disable {
  border-radius: 20px !important;
  background-color: #c8ded3;
  color: #6c7774;
  width: 100%;
  font-family: inter-regular;
  border: none !important;
  padding: 8px;
}
.btn_default {
  border-radius: 20px !important;
  background-color: #006835;
  color: white;
  width: 100%;
  font-family: "inter-regular";
  border: none !important;
  padding: 8px;
  display: inline-block;
}
.phon_inp input[type="tel"] {
  border-radius: 12px;
  border: 1px solid var(--grey-200, #e9e6e9);
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}
.phon_inp .flag-dropdown {
  border-radius: 12px 0px 0px 12px !important;
  border-right: transparent !important;
  background-color: white !important;
  border: 1px solid var(--grey-200, #e9e6e9) !important;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}
.phon_inp .flag-dropdown .selected-flag:hover {
  background-color: transparent !important;
}

.phone_inp_main {
  border-radius: 12px;
  border: 1px solid var(--grey-200, #e9e6e9);
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  transition: border 0.3s, box-shadow 0.3s;
}

.phon_inp .form-control:focus {
  box-shadow: 0px 0px 0px 3px #bfe9c5 !important;
}

.inp_width {
  width: 54px !important;
  height: 54px !important;
}
.counter_con {
  font-family: inter-medium;
  font-size: 12px;
  color: #02150f;
}

.shadow_def input[type="email"]:focus {
  border-radius: 12px;
  border: 1px solid var(--project-colours-b-300, #32b744) !important;
  background: #fff;
  box-shadow: 0px 0px 0px 3px #bfe9c5 !important;
}
.shadow_def input[type="text"]:focus {
  border-radius: 12px;
  border: 1px solid var(--project-colours-b-300, #32b744) !important;
  background: #fff;
  box-shadow: 0px 0px 0px 3px #bfe9c5 !important;
}
.error_div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inter-regular;
  color: #ed6054;
}
.error_div img {
  width: 18px;
  height: 18px;
}

/* ////////////////////// progrebar  css*/

.cus_prog {
  height: 5px !important;
}
.passs_cont_o {
  color: #02150f;
  font-family: inter-medium;
  font-size: 14px;
}
.pas_vali {
  color: #6c7774;
  font-family: inter-regular;
  font-size: 14px;
}
.sucess_text {
  font-family: "inter-bold";
  color: #02150f;
  font-size: 18px;
}
.min_text {
  font-size: 14px;
  color: #9a979a;
  font-family: "inter-light";
}
.noti_btn_main {
  font-size: 12px;
  font-family: "inter-medium";
}
.main_height {
  height: 100vh;
}

/* search css */

.search_tab {
  width: max-content !important;
  padding: 0;
  color: #908c95;
}

.search_tab .nav-link {
  border: none !important;
  border-radius: 999px !important;
  height: 100%;
  color: #908c95 !important;
  font-family: inter-medium;
}
.sign_tab .nav-link {
  font-family: "inter-medium";
  color: #6c7774 !important;
}
.sign_tab .nav-link.active {
  color: #02150f !important;
}
.search_tab .active {
  background: rgba(255, 255, 255, 1) !important;
  box-shadow: 0px 1px 8px 0px rgba(20, 20, 20, 0.08),
    0px 0px 1px 0px rgba(20, 20, 20, 0.52);
  height: 40px !important;
  border-radius: 9999px !important;
  color: #006835 !important;
  width: 100%;
  font-family: inter-medium;
}
.item_hed {
  color: #323539;
  font-family: "inter-regular";
  font-size: 18px;
}
.hash_div {
  background-color: #ffffff;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hash_con {
  color: #1e51ab;
  font-family: "inter-semibold";
  font-size: 15px;
}
.hash_view_con {
  color: #6c7774;
  font-family: "inter-light";
  font-size: 14px;
}
.live_div_main {
  background-color: #32b744;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-family: "inter-regular";
  font-size: 12px;
  color: white;
  width: 35px;
}
.eye_div_main {
  background-color: rgba(2, 21, 15, 0.31);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-family: "inter-regular";
  font-size: 12px;
  color: white;
  width: 58px;
}
.main_drop_na .dropdown-menu a.dropdown-item:active {
  background-color: #eef5f2 !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  border: 0px;
  color: #252525 !important;
}
.rating_modal .modal-content {
  border-radius: 12px;
  border: none !important;
}

/* .///////////////////////////////////// notification css //////////////////////// */

.statusDiv {
  position: absolute;
  /* top: 0; */
  right: -7px;
  bottom: -4px;
  border: 3px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eef5f2;
  width: 24px;
  height: 24px;
}
.statusDiv img {
  width: 12px;
  height: 12px;
}
.pag_head {
  color: var(--head-color);
  font-family: "inter-bold";
  font-size: 20px;
}
.page_sbhead {
  color: var(--head-color);
  font-family: "inter-regular";
  font-size: 16px;
  text-align: center;
}

/* ///////////////////////// live page css start  /////////////// */
.video_div {
  width: 312px;
}
.video_size {
  width: 100%;
  height: 35rem;
  border-radius: 12px;
}
.video_head_icon {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 18px;
}
.LiveProImg {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.userNameLive {
  font-family: "inter-medium";
  font-size: 10px;
  color: #ffffff;
}
.liveRang00 {
  color: #ffffff;
  font-family: "inter-light";
  font-size: 11px;
  opacity: 0.6;
}
.live_div_btn {
  background-color: #32b744;
  border-radius: 20px;
  height: 31px;
  width: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.live_div_btn h5 {
  font-size: 10px;
  color: white;
  font-family: "inter-medium";
}
.eyeDiv00 {
  background-color: rgba(2, 21, 15, 0.31);
  border-radius: 20px;
  height: 31px;
  padding: 10px 17px;
  cursor: pointer;
}
.eyeDiv00 h5 {
  font-size: 10px;
  color: white;
  font-family: "inter-medium";
  margin-left: 3px;
}
.cros_icon00 {
  font-size: 12px;
  color: white;
  cursor: pointer;
}
.comnt_inp {
  border-radius: 20px;
  border: 1px solid rgba(230, 240, 235, 0.1);
  background: rgba(255, 255, 255, 0.14);
  padding: 8px;
}
.comnt_inp ::placeholder {
  color: #959a9c;
}
.strem_btn_div {
  margin: auto;
  display: flex;
  align-items: center;
  width: 312px;
}
.stat00 {
  position: absolute;
  bottom: 0;
  width: 15px;
  height: 15px;
  right: 0;
}
.contM{
  color: white;
  font-family: "inter-medium";
  font-size: 10px;
}
.sonDov{
  width: 36px;
  height: 36px;
  background: #32B744;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
}
/* /////////////////////////////////////////////// huraira cs ended ////////////////////////////////////////////////// */

/* __for you css___ */
.oval {
  background-color: white;
  border-radius: 100px;
  padding: 8px 8px !important;
  border: 1px solid rgba(219, 216, 219, 1);
  height: Fixed (40px);
}
.shession-oval {
  padding: 12px 12px 9px 12.5px;
  border-radius: 12px;
}
.oval .edit {
  width: 0.9rem;
}
.oval p {
  padding: 0;
  margin: 0;
  font-weight: 600;
}
.explore .icon {
  width: 18px;
}
.explore .icon2 {
  width: 12px;
}
.explore .angle-right {
  width: 22px;
}
.angle-med {
  width: 18px;
}
.message-dp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.status_plus {
  position: absolute;
  width: 18px;
  bottom: -3px;
  right: -3px;
}
.desc {
  background: rgba(230, 240, 235, 1);
  border-radius: 100px;
  padding: 6px;
  width: 32%;
}
.rating_seshsion {
  background: rgb(255, 255, 255);
  border-radius: 100px;
  padding: 6px;
  width: 32%;
}
.story_img {
  width: 100%;
  height: 23.75rem;
  border-radius: 8px;
  object-fit: cover;
}
.border-top {
  border-right: 1px solid rgb(231, 231, 231);
}
.like_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgb(231, 231, 231);
  padding: 0;
}
.like_btn button {
  padding: 10px 0px 10px 0px !important;
  border: none;
  width: 100%;
  height: 100%;
}
/* -----ADD ST0RY CSS_---- */
.add-story-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}
.no_scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.status span {
  height: 3px;
  position: relative;
  bottom: 19px;
  color: rgba(104, 114, 125, 1);
  margin-left: 3px;
  font-size: 23px;
  display: block;
}
.no_scrollbar::-webkit-scrollbar {
  display: none;
}
.add_story {
  border-radius: 50%;
  object-fit: contain;
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add_story img {
  width: 56px;
  border-radius: 50%;
  height: 56px;
  object-fit: cover;
  padding: 3px;
}
.add_story-active {
  border: 2px solid rgba(50, 183, 68, 1);
  padding: 0px;
}
/* ____watch_reel css______ */
.reel_img .reel_girl {
  height: 172px;
  width: 138px;
  object-fit: cover;
}
.reel-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.icon-sm {
  width: 15px;
}
.reel_img .user_img {
  width: 15px;
}
/* --follow_buddies css-- */
.buddies_card {
  background: rgba(255, 255, 255, 1);
  height: 179px;
  width: 145px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.buddies_round img {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  object-fit: cover;
}
.follow_buddy_btn {
  border-radius: 80px;
  height: 32px;
  background: rgba(230, 240, 235, 1);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
}
/* ------swiper css----- */
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  display: none !important;
}
.swiper-slide {
  flex-shrink: 0;
  width: auto !important;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}
.side_links span {
  height: 48px;
  margin-left: 3px;
  font-size: 23px;
  display: block;
}
/* ____comment___ */
.heart {
  width: 18px;
}
.comment_avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.comment_block {
  height: 30rem;
  width: 100%;
}
.comment_input {
  width: 93%;
  margin: auto;
  height: 44px;
  border-radius: 100px;
  background-color: #eef5f2;
  padding-top: 2px;
  padding-left: 7px;
  display: flex;
  align-items: center;
}
.comment_input input {
  width: 60%;
  background-color: #eef5f2;
  border: none;
  border-radius: 100px;
}
.comment_input input:focus {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: #eef5f2;
}
.close_btn {
  width: 24px;
  left: 3px;
  position: relative;
}
.input_icon {
  width: 23px;
}
/* ___likes modal___ */
.likes_modal_head button:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.Modal_btn button:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.likes_dp {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.follow_modalbtn {
  height: 30px;
  /* padding: 17px 30px; */
  width: 92px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(219, 216, 219, 1);
  border-radius: 100px;
  background-color: transparent;
}
.Likes_active {
  background: rgba(0, 104, 53, 1) !important;
  color: white;
  border: none !important;
}
.likes_modal_body {
  height: 33rem;
}
.likes_modal_head {
  height: 2.7rem;
  border-bottom: 1px solid rgba(233, 230, 233, 1) !important;
}
.likes_modal_head .btn-close {
  width: 7px;
  /* padding: 1px; */
}
.round_img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.centered_height {
  height: 44.8rem;
}
/* ____reportcss_____ */
.report_btn {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(233, 230, 233, 1);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 13px;
  height: Fixed (52px);
  padding: 17px 14px 17px 14px;
  font-size: 14px;
  font-size: "inter";
  font-weight: bold;
}
.report_success_btn {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(233, 230, 233, 1);
  width: 100%;
  text-align: left;
  border-radius: 13px;
  height: Fixed (52px);
  padding: 10px 14px 10px 14px;
  font-size: 12px;
  font-size: "inter";
  font-weight: 500;
}
.modal_width {
  max-width: 28rem !important;
  min-width: 18rem;
}
.modal-header .btn-close {
  margin: 0;
}
/* ____users_css____ */
.userPic {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}
.userPic2 {
  width: 64px;
  height: 64px;
  object-fit: cover;
  object-position: top;
}
.B-right {
  border-right: 1px solid rgba(233, 230, 233, 1);
  height: 20px;
  padding: 0px 21px;
  margin-top: 23px;
  margin-bottom: 13px;
}
.B-right h1 {
  font-size: 18px;
  font-family: "inter-bold";
}
.B-right p {
  font-size: 12px;
}

/* ___tabs__ */
.nav-tabs-main {
  width: 100%;
  background: linear-gradient(0deg, #c8ded3, #c8ded3),
    linear-gradient(0deg, #e6f0eb, #e6f0eb);
  border-radius: 9999px !important;
  padding: 4px 4px;
  display: flex;
  justify-content: space-around;
}
.nav-item-main {
  width: 32.5%;
}
.nav-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #252525 !important;
}
.nav-link:hover {
  border: 0 !important;
}
.nav-item-main .active {
  background: rgba(255, 255, 255, 1) !important;
  box-shadow: 0px 1px 8px 0px rgba(20, 20, 20, 0.08);
  height: 40px !important;
  border-radius: 9999px !important;
  width: 100%;
}
.nav-link:focus-visible:hover {
  outline: 0;
  box-shadow: none !important;
}
:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}
/* ____modal tabs___ */
.ModalNav {
  background-color: white !important;
}
.user_name0 {
  font-family: "inter-medium";
  color: rgba(37, 37, 37, 1);
  font-size: 16px;
}
.nav_item_modal {
  width: 32.5% !important;
  padding: 0;
  width: 31px;
  color: #908c95;
}
.nav_item_modal .nav-link {
  border: none !important;
  border-radius: 999px !important;
  height: 100%;
  color: #908c95 !important;
  font-family: inter-medium;
}
.nav-item-main .nav-link {
  border: none !important;
  border-radius: 999px !important;
  height: 100%;
}
.nav_item_modal .active {
  background: rgba(255, 255, 255, 1) !important;
  box-shadow: 0px 1px 8px 0px rgba(20, 20, 20, 0.08),
    0px 0px 1px 0px rgba(20, 20, 20, 0.52);
  height: 40px !important;
  border-radius: 9999px !important;
  color: #006835 !important;
  width: 100%;
  font-family: inter-medium;
}

.Notification_img {
  width: 68px;
  height: 68px;
  object-fit: cover;
  border-radius: 50%;
}
.Notification_btn_follow {
  background: rgba(0, 104, 53, 1);
  width: 100%;
  height: 46px;
  border-radius: 100px;
}
/* ____Your buddies___ */

.reject_btn {
  border-radius: 20px !important;
  background-color: #ffffff !important;
  color: rgba(2, 21, 15, 1);
  width: 100%;
  font-family: inter-medium;
  padding: 6px 12px;
  border: 1px solid rgba(219, 216, 219, 1);
}
.changeStateBtn {
  border: none;
  background-color: white;
  border: 1px solid rgba(233, 230, 233, 1);
  width: 100%;
  text-align: left;
  border-radius: 16px;
  box-shadow: 0px 3px 12px 0px rgba(18, 18, 18, 0.04);
  height: Fixed (52px);
  padding: 10px 14px 10px 14px;
  font-size: 12px;
  font-size: "inter";
  font-weight: 500;
  border: 2px solid transparent;
}
.changeStateBtn:focus {
  border: 2px solid rgba(50, 183, 68, 1);
}
/* ___FOR YOU TABS____ */
.foryouTabs {
  width: 49.5% !important;
  padding: 0;
  width: 31px;
  color: #908c95;
}
.foryouTabs .nav-link {
  border: none !important;
  border-radius: 999px !important;
  height: 100%;
  color: #908c95 !important;
  font-family: inter-medium;
}
.foryouTabs .active {
  background: rgba(255, 255, 255, 1) !important;
  box-shadow: 0px 1px 8px 0px rgba(20, 20, 20, 0.08),
    0px 0px 1px 0px rgba(20, 20, 20, 0.52);
  height: 40px !important;
  border-radius: 9999px !important;
  color: #006835 !important;
  width: 100%;
  font-family: inter-medium;
}
.swiper_tabs {
  font-family: inter-medium;
  font-size: 16px;
  color: #2d3d38 !important;
  margin: 0 !important;
  border-radius: 999px;
}
.swiper_tabs .nav-link {
  padding: 8px 22px;
  border-radius: 999px;
}
.swiper_tabs .active {
  box-shadow: 0px 1px 8px 0px #14141414;
  background: #ffffff;
  color: #006835;
}
.yourbuddies_img {
  margin-right: -7px;
  width: 39px;
  height: 37px;
  border-radius: 50%;
  border: 1px solid white;
  object-fit: cover;
}
.yourbuddies_more {
  margin-right: -7px;
  width: 17px;
  height: 17px;
  font-size: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #32b744, #32b744),
    linear-gradient(0deg, #ffffff, #ffffff);
  color: #ffffff;
  border: 1px solid white;
  margin-top: 8px;
  border-radius: 50%;
}
.yourBuddyBtn3 {
  width: 32.2%;
  border: none;
  border-radius: 999px;
  border: 1px solid #dbd8db;
  background-color: white;
  padding: 8px 10px;
  font-family: inter-medium;
  font-size: 13px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #02150f;
}
.yourBuddyBtn2 {
  width: 49.2%;
  border: none;
  border-radius: 999px;
  border: 1px solid #dbd8db;
  background-color: white;
  padding: 8px 10px;
  font-family: inter-medium;
  font-size: 13px;
  margin-right: 5px;
}
.btnGreen {
  color: white;
  background: #006835;
  border: 1px solid #006835;
}

/* ____pendingcss____ */

.pending_status {
  background: #eef5f2;
  width: 32.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 51px;
  padding: 8px;
  border-radius: 9px;
}
.pending_status p {
  font-size: 12px;
}
.pending_status h1 {
  font-size: 12px;
  font-family: inter-medium;
}
.message_btn {
  border: 1px solid #dbd8db;
  background: transparent;
  width: 92px;
  height: 30px;
  border-radius: 100px;
  font-family: inter-semibold;
  font-size: 13px;
}
.rating_modal {
  max-width: 390px;
  min-width: 300px;
}
.rating_modal_body {
  height: 36rem;
}

.text_area {
  border-color: #e9e6e9 !important;
}
.text_area:focus {
  border-color: #e9e6e9 !important;
  outline: none !important;
  box-shadow: none !important;
}
.modal_Success_img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.oval {
  border-radius: 999px !important;
}
.oval_btn {
  padding: 7px 15px;
  width: 95px;
  font-family: inter-medium;
  color: #ffffff;
}
.btn_end_session {
  height: 42px;
  padding: 10px;
  border-radius: 100px;
  background: transparent;
  width: 100%;
  border: 1px solid #dbd8db;
  font-size: 16px;
  font-family: inter-medium;
  color: #006835;
}

/* ___new post css___ */
.btn_close_img {
  position: absolute;
  top: 0;
  right: 24px;
  cursor: pointer;
  font-size: 28px;
  width: 15px;
  height: 10px;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.upload_modal {
  max-height: 450px;
  min-height: 280px;
  overflow: auto;
}
.input-button {
  width: 100%;
  height: 150px;
  background: #f6f3f7;
  border: 1px solid rgb(207, 207, 207);
}
.upload_img {
  padding: 15px;
  background: #e4e6eb;
  border-radius: 50%;
}
.Shmoke_modal_body {
  max-width: 426px;
  min-width: 380px;
}
.three_select {
  width: 32%;
}
.two_select {
  width: 48.5%;
}
.pinpoint {
  position: absolute;
  right: 12px;
  bottom: 14px;
}

.edit_profile_modal {
  max-width: 625px;
  min-width: 370px;
}

.alert_Success_img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}
/* ____profile____ */

.profile_icon {
  width: 24px;
  height: 24px;
}

.modal-light {
  background: #eef5f2;
}

.add_bio {
  width: Fixed (80px);
  border: none;
  background: #f1f1f2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: Fixed (24px);
  padding: 2px 12px;
  font-size: 13px;
  font-family: inter-medium;
  color: #4c4d54;
  border-radius: 100px;
}

.qrcode {
  height: 35px;
  width: 35px;
}

.code_qr {
  height: 306px;
  width: 306px;
  border-radius: 42px;
  border: 2px solid #f6f3f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.code_qr img {
  width: 80%;
  height: 80%;
}

.edit_profile {
  width: 120px;
  height: 38px;
  padding: 10px;
  border-radius: 100px;
  border: 1px solid #dbd8db !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inter-medium;
  font-size: 1rem;
  background: transparent;
  border: 1px;
}
.account_head {
  border-bottom: 1px solid #e9e6e9;
}
.account_body {
  height: 700px;
}
.sheild {
  width: 22px;
}
.sheild2 {
  width: 16px;
  margin-left: 3px;
}

/* .form-switch .form-check-input {
  --bs-form-switch-bg: url(
    data:image/svg + xml,
    %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="-4 -4 8 8"%3e%3ccircler="3"fill="rgba%280, 0, 0, 0.25%29"/%3e%3c/svg%3e
  );
  width: 3em;
  height: 1.5rem;
  margin-left: -2.5em;
  background-image: var(--bs-form-switch-bg);
  background-position: left center;
  border-radius: 2em;
  transition: background-position 0.15s ease-in-out;
} */
.form-switch .form-check-input:focus {
  outline: none;
  box-shadow: none;
}
.form-check-input:checked {
  background-color: #006835;
  border-color: #006835;
}
.form-check-input {
  --bs-form-check-bg: var(--bs-body-bg);
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #e5e4e7 !important ;
  background-image: var(--bs-form-check-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: var(--bs-border-width) solid #e5e4e7 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  /* color-adjust: exact; */
  print-color-adjust: exact;
}
/* huraira */

/* use only under 992px  */
@media (max-width: 992px) {
  .blank_div {
    display: none !important;
  }
  .nav_item {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0rem 2rem;
    background-color: #ffffff;
    z-index: 999;
  }
  .item_nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0rem 2rem;
    background-color: #02150f;
    z-index: 999;
    border: 1px solid rgba(200, 222, 211, 0.08);
  }
  .dropdown-toggle::after {
    display: none !important;
  }
  .nav_item a {
    width: auto !important;
    padding: 10px 10px !important;
  }
  .item_nav a {
    width: auto !important;
    padding: 10px 10px !important;
  }

  .nav_item a.active {
    width: auto !important;
    padding: 10px 10px !important;
    box-shadow: none !important;
  }
  .item_nav a.active {
    width: auto !important;
    padding: 10px 10px !important;
    box-shadow: none !important;
  }
  .status_icon {
    position: relative;
  }
  .search_div {
    width: 45px;
    height: 45px;
    justify-content: center;
    margin-left: auto;
    margin-right: 16px;
  }
  .search_div img {
    margin-right: 0px !important;
  }
  .nav_bar .container-fluid {
    justify-content: initial;
    flex-wrap: nowrap;
  }
  .lg_left {
    margin-left: initial;
  }
  .nav_bar {
    padding: 0.5rem 0rem !important;
  }
}

/* apply under 1100px */
@media (max-width: 1100px) {
  .logo_text {
    width: 105px;
  }
  .logo_icon {
    width: 23px;
    height: 23px;
  }
}

/* apply under 576px */
@media (max-width: 576px) {
  .logo_text {
    width: 74px;
  }
  .logo_icon {
    width: 20px;
    height: 20px;
  }
  .search_div {
    width: 40px;
    height: 40px;
  }
  .icon_div {
    width: 40px;
    height: 40px;
  }
}
